body {
    font-size: larger;
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
=======
    font-family:Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    
>>>>>>> footer
}